<!DOCTYPE html>
<html>
  <head>
    <title>University Tech App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to 'home', root_path %></li>
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to 'new courses', courses_new_path %></li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
